<?xml version="1.0" encoding="utf-8"?>

<!-- 憒?雿輻 web.config 頧??底蝝啗?閮?隢?敺 https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    ?其??Ｙ?蝭?銝哨?"SetAttributes" 頧??芣???"Match" 摰?蝔??曉
    ?潛 "MyDB" ?惇??"name" ???? "connectionString" ?潸?
    ?渡雿輻 "ReleaseSQLServer"??
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      
      ?其??Ｙ?蝭?銝哨?"Replace" 頧?撠??誨 web.config 瑼?
      ???<customErrors> ?畾萸?
      隢釣?????<system.web> 蝭暺?銝?
      ?芣?銝??customErrors ?畾蛛??隞乩??閬蝙??"xdt:Locator" 撅祆扼?
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>